* {
    padding: 0%;
    margin:0% ;
    box-sizing: border-box;
    font-family: inter;
}
.dis-tech {
    display: flex;

}
.top-container {
    background-color: #1A0B2E;
    height: 92px ;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Tech {
    color: white;
    font-size: 48px;
}
.Wave {
    -webkit-text-stroke-width: 0.8px;
    font-size: 48px;
    -webkit-text-stroke-color: black;
    font-weight: 780;
    background: linear-gradient(
        210deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.top-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.top-links a {
    text-decoration: none;
    color: white;
   
}
.top-links {
     display: flex;
    gap: 30px;
    font-size: 17px;
}
.subcribe-b {
    color: white;
    border-radius: 30px;
    width: 135px;
    height: 44px;
    align-items:center ;
    cursor: pointer;
    justify-content: center;
    padding: 12px 16px 12px 16px ;
    flex-direction: row;
    background: linear-gradient(
        60deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
   );

}


/* section 1 */


.sec-01 {
    background-image: url(assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-size: 100%;
    background-color:#1A0B2E;
    align-items: center;
    gap: 30px;
}
.th-h {
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight:800;

}
.microphone {
    position:absolute;
    height: 170px;
    width: 137px;
    margin-top: 90px;
    margin-left: -242px;
} 
.circle {
     width: 350px;
     height: 350px;
     position: relative;
     padding-top: -20px;
     margin-left: -1px;
}
.middle {
    display: flex;
    justify-content: center;
}
.sub-2 {
    font-weight: 800;
}
   
.b-2 {
    border: none;
    color: white;
    font-weight: 600;
    align-items: center;
    position: relative;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(
        210deg,
        #9100f8,
        #fb09b4 50%,
        #f7e93f 85%
    );
}


/* section 2 */


.sec-02 {
    height: 646px;
    width: 100%;
    background-color: #1A0B2E;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}
.s-2-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.s2-h {
    font-size: 48px;
    color: white;
    font-weight: 600;
}   
.s2-p {
  color: white;
  font-size: 16px;
  opacity: 0.8;
}
.achived {
    display: flex;
    justify-content: center;
}
.green-4 {
    border-top: 1px solid gray;
    gap: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.g-box {
    height: 200px;
    margin-top: 80px;
    width: 200px;
}
.g-head {
     color: #00FF88;
    font-size: 48px;
    font-weight: 800;
    text-align: center;

}
.g-p {
    color: white;
    font-size: 16px;
    opacity: 0.8;
}  


/* section 3 */


.sec-03 {
    height: 1121px;
    padding-top: 100px;
    background-color: #230E3D;
}
.box {
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    min-height: 220px;
    min-width: 380px;
}
.grid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;   
    gap: 30px;
    margin: 0 auto;
    max-width: 1000px;
}

.one {
    grid-row: span 2;
}
.two {
    grid-column: span 2;
}
.three {
    grid-column: span 2;
}
.four {
    grid-column: span 2;
}
.box-h {
    color: white;
    font-size: 22px;
    font-weight: 800;
}    
.box-p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}
.box-style {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 16px;
}


/* section-4 */


.sec-04 {
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    height: 1276px; 
}
.videos {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.vid-card {
    height: 425px;
    width: 370px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}
.yt-links {
    border-radius: 24px 24px 0px 0px;
    border: none;
}
.card-style {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.time {
    display: flex;
    gap: 7px;
    color: #00FF88;
    font-size: 18px;
}
.host {
    background-color: rgba(53, 17, 101, 0.4);
    height: 280px;
    width: 77%;
    border-radius: 40px;
}
.host-h {
    color: white;
    font-size: 32px;
    font-weight:800;
}
.all-links {
    padding: 1.4px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* footer section */


.footer {
    background-image: url(assets/footer-bg.png);
    width: 100%;
    height: 360px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.footer-tech {
    color: white;
    font-weight: 900;
    font-size: 70px;
}
.footer-wave {
    font-size: 70px;
    font-weight: 780;
    background: linear-gradient(
        210deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.f-links {
    padding-right: 10px;
    display: flex;
    gap: 42px;
}
.f-p {
    display: flex;
}
.f-p a {
    display: flex;
    color: gray;
    text-decoration: none;
}
.footer-links {
    display: flex;
    gap: 42px;
}


