* {
    padding: 0%;
    margin:0% ;
    box-sizing: border-box;
    font-family: inter;
}
.dis-tech {
    display: flex;

}
.top-container {
    background-color: #1A0B2E;
    height: 92px ;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Tech {
    color: white;
    font-size: 48px;
}
.Wave {
    -webkit-text-stroke-width: 0.8px;
    font-size: 48px;
    -webkit-text-stroke-color: black;
    font-weight: 780;
    background: linear-gradient(
        210deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.top-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.top-links a {
    text-decoration: none;
    color: white;
   
}
.top-links {
     display: flex;
    gap: 30px;
    font-size: 17px;
}
.subcribe-b {
    color: white;
    border-radius: 30px;
    width: 135px;
    height: 44px;
    align-items:center ;
    cursor: pointer;
    justify-content: center;
    padding: 12px 16px 12px 16px ;
    flex-direction: row;
    background: linear-gradient(
        60deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
   );

}
.sec-01 {
    background-image: url(assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-size: 100%;
    background-color:#1A0B2E;
    align-items: center;
    gap: 30px;
}
.th-h {
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight:800;

}
.microphone {
    position:absolute;
    height: 170px;
    width: 137px;
    margin-top: 90px;
    margin-left: -242px;
} 
.circle {
     width: 350px;
     height: 350px;
     position: relative;
     padding-top: -20px;
     margin-left: -1px;
}
.middle {
    display: flex;
    justify-content: center;
}
.sub-2 {
    font-weight: 800;
}
   
.b-2 {
    border: none;
    color: white;
    font-weight: 600;
    align-items: center;
    position: relative;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(
        210deg,
        #9100f8,
        #fb09b4 50%,
        #f7e93f 85%
    );
}
.sec-02 {
    height: 646px;
    width: 100%;
    background-color: #1A0B2E;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}
.s2-h {
    font-size: 48px;
    color: white;
    font-weight: 600;
}   
.s2-p {
  color: white;
  font-size: 16px;
  opacity: 0.8;
}
.achived {
    display: flex;
    justify-content: center;
}
.green-4 {
    border-top: 1px solid gray;
    gap: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.g-box {
    height: 200px;
    margin-top: 80px;
    width: 200px;
}
.g-head {
     color: #00FF88;
    font-size: 48px;
    font-weight: 800;
    text-align: center;

}
.g-p {
    color: white;
    font-size: 16px;
    opacity: 0.8;
}